/* Styles pour écrans plus petits (mobile) */
@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        padding: 20px;
    }
    .logo1{
        top: 20px;
        left: 20px;
        transform: none;
    }
    .top-left-image1, .top-right-image1 {
        width: 100px;
    }
    .container1 {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }
    .title1 {
        font-size: 1.8em;
        margin: 10px 0;
    }
    .button1 {
        padding: 10px;
        font-size: 0.9em;
    }
    .signature1 {
        font-size: 1em;
        text-align: center;
        bottom: 10px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}